<div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-sm-12  leftColumn"> 
        <p class="fs-60 fw-normal"><strong>Digital</strong> Platform <br/>for distance <strong>learning</strong></p>
        <p>Internet and online based digital technologies such as desktop computers, mobile phones and other</p>
        <img src="../assets/img/bannerBottom.jpg">
      </div>
      <div class="col-md-5 col-sm-12 rightColumn">
        <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
          <h3 class="logo fw-bold">your <span class="logoSpan">logo</span></h3>
          <span class="circle mb-3"><span class="material-symbols-outlined lock"> lock </span></span>
          <h4 class="mb-4">{{showLogin?'Welcome back':'Sign Up'}}</h4>
          <!-- Login Form -->
          <ng-container *ngIf="showLogin">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <div class="form-outline">
                <input type="text" class="form-control ps-30" placeholder="Username" formControlName="username"/>
                <div *ngIf="loginForm.controls['username'].touched  && loginForm.controls['username'].invalid">
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="loginForm.controls['username'].errors?.['required']">
                      It is required!
                  </div>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="loginForm.controls['username'].errors?.['pattern']">
                    Only Characters and space allowed!
                  </div>
                </div>
                <span class="material-symbols-outlined icon"> person </span>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-outline">
                <input type="password" class="form-control ps-30" placeholder="Password" formControlName="password"/>
                <div *ngIf="loginForm.controls['password'].touched  && loginForm.controls['password'].invalid">
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="loginForm.controls['password'].errors?.['required']">
                      It is required!
                  </div>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="loginForm.controls['password'].errors?.['pattern']">
                      Please enter atleast 8 characters with number,1 symbol,1 capital and small letters!
                  </div>
                </div>
                <span class="material-symbols-outlined icon"> lock </span>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary btn-theme mb-3" type="submit">{{showLogin?'Login':'Register'}}</button>
            </div>
          </form>
          <p class="fw-light fs-14">Don't have an account?<a (click)="signuphere()" style="font-weight: 700;color: black;cursor: pointer;">Sign Up</a></p>
         </ng-container>
  
         <!-- Sign Up form -->
         <ng-container  *ngIf="!showLogin">
         <form [formGroup]=" SignupForm" (ngSubmit)="signup()">
            <div class="mb-3">
              <div class="form-outline">
                <input type="text" class="form-control ps-30" placeholder="Company Name" formControlName="company"/>
                <div *ngIf="SignupForm.controls['company'].touched  && SignupForm.controls['company'].invalid">
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['company'].errors?.['required']">
                      It is required!
                  </div>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['company'].errors?.['pattern']">
                    Only Characters and space allowed!
                  </div>
                </div>
                <span class="material-symbols-outlined icon"> business_center </span>
              </div>
            </div>
            <div class="mb-3">
              
              <div class="form-outline">
                <input type="text" class="form-control ps-30" placeholder="Username" formControlName="username"/>
                <div *ngIf="SignupForm.controls['username'].touched  && SignupForm.controls['username'].invalid">
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['username'].errors?.['required']">
                      It is required!
                  </div>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['username'].errors?.['pattern']">
                    Only Characters and space allowed!
                  </div>
                </div>
                <span class="material-symbols-outlined icon"> person </span>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-outline">
                <input type="password" class="form-control ps-30" placeholder="Password" formControlName="password"/>
                <div *ngIf="SignupForm.controls['password'].touched  && SignupForm.controls['password'].invalid">
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['password'].errors?.['required']">
                      It is required!
                  </div>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="SignupForm.controls['password'].errors?.['pattern']">
                      Please enter atleast 8 characters with number,1 symbol,1 capital and small letters!
                  </div>
                </div>
                <span class="material-symbols-outlined icon"> lock </span>
            </div>
           </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary btn-theme mb-3" type="submit">Sign Up</button>
            </div>
           
          </form>
          <p class="fw-light fs-14">Already have an account?<a (click)="loginhere()" style="font-weight: 700;color: black;cursor: pointer;">Login</a></p>
        </ng-container>
        </div>
         <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
