:root {
    --primary-color: #d94e3b;
    --secondary-color: #fff1f1;
  }
.ps-30 {
    padding-left: 30px;
}
.fs-60 {
    font-size: 50px;
    line-height: 60px;
}
.fs-14{
    font-size: 14px;
}
.btn-theme{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* login page left column */
.leftColumn {
    position: relative;
    background-color: var(--secondary-color);
    line-height: 30px;
    height: 100%;
    min-height: 100vh;
    text-align: left;
    padding: 100px 200px 0 50px;
}
.leftColumn img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.form-outline {
    position: relative;
}
.form-outline .icon {
    position: absolute;
    top: 25%;
    left: 5px;
    font-size: 20px;
    color: #797979;
}
/* login page right column */
.rightColumn{
    text-align: center;
}
h3.logo .logoSpan{
    display: inline-block;
    color: var(--primary-color);
    margin-top: 80px;
    margin-bottom: 60px;
}
.circle{
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    height:40px;
    padding: 7px;
}
.circle .lock{
    color: var(--primary-color);
}
p a{
    text-decoration: none;
}
/* input placehoder styling */
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }
 @media only screen and (max-width: 576px) {
    
    .row {
        display: flex;
        flex-direction: column;
      }
      .leftColumn {
        order: 2;
        padding: 40px 20px 0 20px;
      }
      .rightColumn {
        order: 1;
        margin-bottom: 40px;
        padding: 0px 20px;
      }
      .leftColumn p:first-of-type{
        font-size: 30px;
        line-height: 40px;
    }
      h3.logo .logoSpan{
       margin: 50px 0 40px 0;
      }
      .leftColumn.fs-60{
        font-size: 30px !important;
      }
  }

